{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'audio',
  'audio--default',
  'clearfix',
]
%}
{% set title = content.field_title|field_value|render|striptags|trim %}
{% if content.field_subtitle %}
  {% set aria_label = title ~ '. ' ~ content.field_subtitle|field_value|render|striptags|trim %}
{% endif %}
{% do attributes.setAttribute('aria-label', aria_label ) %}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="audio__image-wrapper">
    <div class="audio__image">{{ content.field_audio_preview|field_value }}</div>
  </div>
  <div class="audio__audio">
    <audio{{ audio_attributes.addClass('degov-media-plyr') }}>
      {% if audio_mp3 %}
      <source src="{{ audio_mp3 }}" type="audio/mpeg">
      {% endif %}
      {% if audio_ogg %}
      <source src="{{ audio_ogg }}" type="audio/ogg">
      {% endif %}
      {% trans %}
      I'm sorry; your browser doesn't support HTML5 audio in OGG or MP3 format.
      {% endtrans %}
    </audio>
  </div>
  {{ field_media_copyright }}
</article>
