{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
'video-mobile',
'clearfix',
]
%}
{% do attributes.setAttribute('aria-label', title) %}
<article{{ attributes.addClass(media_classes) }}>
    {{ content.contextual_links }}
    <div class="video-mobile__video">
        <video{{ video_attributes.addClass('degov-media-plyr') }}>
            {% for key, subtitle in content.field_video_upload_subtitle if key|first != '#' %}
                {{ subtitle }}
            {% endfor %}
        </video>
      {{ field_media_copyright }}
    </div>
</article>
