{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
 #}
{% set media_classes = [
  'image',
  'clearfix',
] %}
<article {{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}

  <div class="image__image"{{ content.image|quickedit_attr }}>
    {{ content.image|field_value }}
  </div>

  {% if content.field_media_copyright %}
    <div class="skin--background-primary clearfix col-xs-12">
      {{ field_media_copyright }}
    </div>
  {% endif %}

  {% if content.field_media_published_date %}
    <div class="image__date"{{ content.field_media_published_date|quickedit_attr }}>
      {{ attribute(content.field_media_published_date|field_value|first, '#text')[0:10] }}
    </div>
  {% endif %}

  {% if content.field_description %}
    <div class="image__description"{{ content.field_description|quickedit_attr }}>
      {{ content.field_description|field_value }}
    </div>
  {% endif %}

  {#  {% if content.field_tags|field_value %}#}
  {#    <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>#}
  {#  {% endif %}#}
</article>
