{#
/**
 * @file
 * Default theme implementation to present a media entity in viemode header_logo_slogan.
 *
 * Available variables:
 * - logo_attibutes: Image attributes.
 *
 * Note:
 * Default template for this image is in nrw_base_theme_get_logo().
 *
 * @see degov_media_image_preprocess_media__image()
 *
 * @ingroup themeable
 */
 #}
<img {{ logo_attibutes.addClass('header__logo_image') }} />
