{#
  To change or add data to the default settings use the twig merge filter
  {% set plyr_settings = plyr_settings|merge({'loadSprite':false,'blankVideo': '/'~active_theme_path()~'/assets/video/blank.mp4'}) %}
#}
{% set clases = [
  'degov-media-plyr',
  'degov-media-plyr__embed'
] %}
<div {{ attributes.addClass(clases) }}>
  <div id="video_embed__{{ videoId }}" data-plyr-provider="{{ provider }}" data-plyr-embed-id="{{ videoId }}" data-poster="{{ icon }}"></div>
</div>
