{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content %}
    {% if social_media_disabled %}
      {% include '@degov_social_media_settings/js-social-media-code.html.twig' with {classes: []} %}
    {% else %}
      {{ content }}
    {% endif %}
  {% endif %}
  {% if content.usage %}
    <div class="instagram__usage">
      <h2>{{ 'Usage'|trans }}</h2>
      {{  content.usage }}
    </div>
  {% endif %}
</article>
