{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 */
#}
{% set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
  'col-xs-12 col-md-6'
] %}
{% if content.field_teaser_image|field_value %}
  {% set class_sidebar = 'col-xs-12 col-sm-6' %}
  {% set class_content = 'col-xs-12 col-sm-6' %}
{% else %}
  {% set class_sidebar = 'invisible' %}
  {% set class_content = 'col-xs-12 col-sm-12' %}
{% endif %}
{% set url = content.field_link[0]['#url'] %}
<article{{ attributes.addClass(classes)|without('role') }}>
  {{ title_suffix }}

  {% set teaser_link = create_attribute({
    'href': url.uri,
    'aria-labelledby': 'type__' ~ frontend_id ~ ' title__' ~ frontend_id ~ ' file_title__' ~ frontend_id,
    'target': '_blank',
    'class': [
      'teaser-link',
      'clearfix',
    ]
  }) %}
  {% if content.field_teaser_text.0 %}
    {% do teaser_link.setAttribute('aria-describedby', 'description__' ~ frontend_id ) %}
  {% endif %}
  <a {{ teaser_link }}>

    {% if content.field_teaser_image %}
      <div
        class="normal-page__teaser-image teaser-image {{ class_sidebar }}" >
        {{ content.field_teaser_image|field_value }}
      </div>
    {% endif %}

    <div class="normal-page__teaser-content teaser-content {{ class_content }}">

      <div class="content-type-label visually-hidden" id="type__{{ frontend_id }}">
        {{ content_type_label }}
      </div>

        <div class="normal-page__teaser-title teaser-title" id="title__{{ frontend_id }}">
          {% if label %}
          <h3{{ label|quickedit_attr }}>
            {{ label|field_value }}
          </h3>
          {% endif %}
        </div>

      {% if content.field_teaser_text.0 %}
        <div class="visually-hidden normal-page__teaser-text" {{ content.field_teaser_text|quickedit_attr }}
             id="description__{{ frontend_id }}">
          {% autoescape false %}
            {% set text = node.field_teaser_text.value|striptags %}
            {{ text|length > 310 ? text|slice(0, 310) ~ '...' : text }}
          {% endautoescape %}
        </div>
      {% endif %}

      {% if content.field_link.0 %}
        <div class="external-link" {{ content.field_link|quickedit_attr }}>
          <div class="field arrow field--item" id="file_title__{{ frontend_id }}">
            {{ content.field_link[0]['#title']|striptags }}
{#            {% if content.field_link[0]['#url'].external %}#}
{#              <i aria-hidden="true" class="fa fa-external-link"></i>#}
{#            {% endif %}#}
          </div>
        </div>
      {% endif %}
    </div>
  </a>
</article>
