{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content %}
    {% if content.embed_code|field_value %}
      {% if social_media_disabled %}
        {% include '@degov_social_media_settings/js-social-media-code.html.twig' with {classes: ['some-embed__code',]} %}
      {% else %}
        {{ content.embed_code }}
      {% endif %}
    {% endif %}
    {% if content.field_tags|field_value %}
      <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
    {% endif %}
  {% endif %}
</article>
