// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Only Abstracts. Fontawesome is provided by drupal/fontawesome module and fontawesome/fontawesome library.
@import "~@fortawesome/fontawesome-free/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/mixins";
// Not fully abstract, but required for extends in use.
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}


$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 2.3;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.4;
$h4-font-size:                $font-size-base * 1.3;
$h5-font-size:                $font-size-base * 1.2;
$h6-font-size:                $font-size-base;


//
// Color system
//
// Bootstrap
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$white:   #fff;

// DeGov
// http://chir.ag/projects/name-that-color/
$blue:          #154575;
$porcelaint:    #F1F2F3;
$gray-light:    #E6E8EA;
$gray-lighter:  #E5E7E9;
$gray:          #CCCCCC;
$alto:          #CECECE;
$baltic-sea:    #1B181D;
$regent-grey:   #818D96;
$gray-dark:     #2C2C2C;
$light-blue:    #2A96D5;


// Modal
$modal-content-border-color:        $white;
$modal-content-border-width:        0;
$modal-content-border-radius:       0;
$modal-content-inner-border-radius: 0;
