.block-degov-search-content-filter {
  @extend .mb-3, .mb-lg-5;

  .filter-search-content {
    background-color: $gray-light;
    padding: 14px 14px 0 14px;

    h2 {
      font-size: 1.2rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: $gray-dark;
    }

    .block-facet-blocksearch-content-tags {
      @extend .mt-2, .mt-lg-0;
    }
    .block-filter__date-filter {
      .form-type-date {
        @extend .fa, .col-6;

        position: relative;
        input {
          width: 100%;
          height: 53px;
          border: none;
          outline: none;
          border-radius: 0;
          padding-left: 15px;
          padding-right: 0;
          color: $regent-grey;
          font-weight: normal;
          font-size: 16px;
        }

        &:before {
          display: inline-block;
          position: absolute;
          right: 20px;
          top: 20px;
          width: 25px;
          height: 25px;
          content: fa-content($fa-var-calendar-alt);
          color: $regent-grey;
          font-size: 1rem;
          pointer-events: none;
        }
        &.date-to-wrapper {
          &:before {
            right: 25px;
          }
        }
      }
    }

    .form-submit {
      @extend .d-inline-block;
      padding: 10px;
      width: 100%;
      clear: both;
      margin: 5px 0 0 0;
    }

    select {
      width: 100%;
      height: 53px;
      border: none;
      outline: none;
      padding-left: 15px;
      border-radius: 0;
      color: $regent-grey;
      font-weight: normal;
      font-size: 16px;
      background-color: $white;
      -webkit-appearance: none;
      line-height: 1em;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none !important;
    }

    .facets-widget-dropdown {
      position: relative;
      width: 100%;
      @extend .fa;

      &:before {
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
        width: 25px;
        height: 25px;
        content: fa-content($fa-var-angle-down);
        color: $regent-grey;
        font-size: 1rem;
        pointer-events: none;
      }
    }

    select::-ms-expand {
      display: none;
    }

    .details-wrapper {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.block-full-text-search-page {
  @extend .paragraph-node-reference-node-view-mode-preview;
  .paragraph__header {
    margin-left: -15px;
  }
  form {
    .search-page-full-text-search-form {
      @extend .d-flex, .flex-row;
      position: relative;
      margin-right: -15px;
      margin-left: -15px;

      .form-item-volltext {
        width: 100%;
        @include media-breakpoint-up(lg) {
          width: 85%;
        }
        border: solid $gray-light 3px;
        .field-suffix {
          color: $regent-grey;
        }
        [data-drupal-selector*="edit-volltext"] {
          border: none;
          width: calc(100% - 30px);
          height: 50px;
          outline: none;
          font-size: 1.2rem;
          &::placeholder {
            color: $regent-grey;
          }
        }
      }
      [data-drupal-selector*="edit-actions"] {
        position: absolute;
        right: 0;
        top: 5px;

        @include media-breakpoint-up(lg) {
          position: relative;
          top: 0;
          right: 0;
        }
        button {
          height: 56px;
          margin-top: -5px;

          @include media-breakpoint-up(lg) {
            margin-top: 0;
          }
          .button-text {
            @extend .d-none, .d-lg-inline-block, .d-xl-inline-block;
          }
          .fa-placeholder-left {
            @extend .d-inline-block, .d-lg-none, .d-xl-none, .fa;
            width: 25px;
            height: 25px;
            &:before {
              text-indent: 100%;
              content: fa-content($fa-var-search);
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.block-degov-search-media-filter {
  @extend .block-full-text-search-page;
}

.block-degov-search-media-filter {
  @extend .block-degov-search-content-filter;
}
