{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 * @see degov_paragraph_slideshow_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% if slide_link %}<a class="d-block w-100" href="{{ slide_link }}">{% endif %}
  <div class="d-block w-100 text-center">
    {% if slide_responsive_image %}
      {{ slide_responsive_image }}
    {% elseif slide.field_media_video_embed_field %}
      {{ slide.field_media_video_embed_field }}
    {% elseif slide %}
      {{ slide }}
    {% endif %}
  </div>
  {% if not paragraph.field_slide_text.isEmpty() or not paragraph.field_override_caption.isEmpty() %}
    <div class="carousel-caption  d-none d-lg-inline-block d-xl-inline-block d-md-none w-100 pb-1 pb-md-2 pb-lg-5 pb-xl-5">
      <div class="container">
        {% if not paragraph.field_slide_text.isEmpty() %}
          <h2>
            {% set text = content.field_slide_text|render|striptags %}
            {{ text|length > 150 ? text|slice(0, 150) ~ '...' : text }}
          </h2>
        {% endif %}
        {% if not paragraph.field_override_caption.isEmpty() %}
          <p>
            {% set text = paragraph.field_override_caption[0].value|render|striptags %}
            {{ text|length > 200 ? text|slice(0, 200) ~ '...' : text }}
          </p>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% if slide_link %}</a>{% endif %}
