{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content.field_citation_image|field_value %}
  {% set classes = 'col-sm-6' %}
{% else %}
  {% set classes = 'col-sm-12' %}
{% endif %}

{% if content.field_citation_title|field_value %}
  {% set is_title = 'is-title'  %}
{% else %}
  {% set is_title = 'no-title '  %}
{% endif %}
{%
set media_classes = [
  'citation',
  'skin--font-secondary',
  'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }} aria-labelledby="type__{{ frontend_id }} cite__{{ frontend_id }}" aria-describedby="cite_meta__{{ frontend_id }}" tabindex="0">
  {{ content.contextual_links }}
  <div class="media-type-label visually-hidden" id="type__{{ frontend_id }}">
    {{ media_type_label }}:
  </div>
  <figure class="citation__left {{ classes }} {{ is_title }}">
      <blockquote class="citation__text"{{ content.field_citation_text|quickedit_attr }} id="cite__{{ frontend_id }}">{{ content.field_citation_text|field_value }}</blockquote>
      <figcaption>
        <cite id="cite_meta__{{ frontend_id }}">
          <span class="citation__title"{{ content.field_citation_title|quickedit_attr }}>{{ content.field_citation_title|field_value }}</span>
          {%  if content.field_citation_date|field_value %}
            <br />
            <span class="citation__date"{{ content.field_citation_date|quickedit_attr }}>{{ content.field_citation_date|field_value }}</span>
          {% endif %}
        </cite>
      </figcaption>
  </figure>
  {% if content.field_citation_image|field_value %}
    <div class="citation__right {{ classes }}">
      <div class="citation__image">{{ content.field_citation_image }}</div>
    </div>
  {% endif %}
</article>
